* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: #cc2b5e;
  background: -webkit-linear-gradient(to right, #753a88, #cc2b5e);
  background: linear-gradient(to right, #753a88, #cc2b5e);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header #logo {
  margin: 20px;
}
header nav .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 20px;
}
@media screen and (max-width: 1024px) {
  header nav .menu {
    flex-direction: column;
  }
}
@media screen and (max-width: 600px) {
  header nav .menu {
    flex-direction: column;
  }
}
header nav .menu li {
  justify-content: space-between;
  margin: 20px;
  list-style: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  width: 100%;
  font-size: larger;
  font-weight: bold;
  color: rgb(243, 151, 166);
}
header nav .menu li a {
  color: rgb(243, 151, 166);
  text-decoration: none;
}

.main-inicio {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 600px) {
  .main-inicio {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
.main-inicio .parrafo-inicio {
  margin: 15px;
}
.main-inicio .parrafo-inicio .titulo-inicio {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #753a88;
  font-size: 2, 5rem;
}
.main-inicio .parrafo-inicio .superposicion-main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-inicio .parrafo-inicio .superposicion-main .texto-inicio {
  width: 450px;
  position: absolute;
  z-index: 1;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #753a88;
  font-size: larger;
  line-height: 3rem;
}
@media screen and (max-width: 1024px) {
  .main-inicio .parrafo-inicio .superposicion-main .texto-inicio {
    width: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 30px;
  }
}
.main-inicio .parrafo-inicio .superposicion-main .imagen-publicidad {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;
}
.main-inicio .imagen-inicio {
  display: flex;
  overflow: hidden;
  flex: 1;
  width: 100%;
  height: 100%;
  padding: 5px;
}

.titulo-equipos {
  display: flex;
  justify-content: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background: rgb(243, 151, 166);
  color: beige;
}

.titulo-elegirnos {
  display: flex;
  justify-content: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background: rgb(243, 151, 166);
  color: beige;
}

.titulo-tecontamos {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  background: rgb(243, 151, 166);
  color: beige;
}

.titulo-contacto {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  background: rgb(243, 151, 166);
  color: beige;
}

.equipos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 10px;
}
@media screen and (max-width: 600px) {
  .equipos {
    flex-direction: column;
  }
}
@media screen and (max-width: 1024px) {
  .equipos {
    flex-direction: column;
  }
}
.equipos .card {
  width: 20rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}
@media screen and (max-width: 600px) {
  .equipos .card {
    margin: 20px;
  }
}
@media screen and (max-width: 1024px) {
  .equipos .card {
    margin: 15px;
  }
}
.equipos .card .imagenes {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.equipos .card .imagenes .card-img-top {
  max-height: 100%;
  width: fit-content;
}
.equipos .card .card-body {
  height: 200px;
}
.equipos .card .card-body h5 {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #cc2b5e;
  font-size: larger;
}
.equipos .card .card-body p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #cc2b5e;
  font-size: medium;
}
.equipos .card .card-body .btn-primary {
  background: #cc2b5e;
  color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
  color: beige;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
  border: none;
}

.main-contacto .input-contacto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 100px;
}
.main-contacto .input-contacto input {
  height: 40px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 5px;
}
.main-contacto .input-contacto textarea {
  height: 100px;
  width: 200px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  padding: 15px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.main-contacto .input-contacto button {
  background: #cc2b5e;
  color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
  color: beige;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
  border: none;
  width: 150px;
  height: 30px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.main-contacto .input-contacto button:hover {
  border: 2px solid rgb(243, 151, 166);
}
.main-contacto .input-contacto button:active {
  background-color: #753a88;
}

.main-porque {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 20px;
}
@media screen and (max-width: 600px) {
  .main-porque {
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 1024px) {
  .main-porque {
    display: grid;
    grid-template-columns: 1fr;
  }
}
.main-porque .ventajas {
  justify-self: center;
  align-self: center;
  width: 15rem;
  height: 300px;
}
.main-porque .ventajas p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #cc2b5e;
  font-size: large;
  text-align: center;
}
.main-porque .imagenes-ventajas {
  height: 150px;
  text-align: center;
}
.main-porque .imagenes-ventajas img {
  justify-self: center;
  align-self: center;
  max-height: 100%;
  width: fit-content;
}

.main-quienes {
  background: #cc2b5e;
  background: -webkit-linear-gradient(to top, #753a88, #cc2b5e);
  background: linear-gradient(to top, #753a88, #cc2b5e);
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-quienes p {
  color: beige;
  font-size: larger;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
  justify-self: center;
  align-self: center;
  white-space: break-word;
}
.main-quienes section {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 600px) {
  .main-quienes section {
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 1024px) {
  .main-quienes section {
    display: grid;
    grid-template-columns: 1fr;
  }
}
.main-quienes section .imagen-clinica {
  height: 350px;
}
.main-quienes section .imagen-clinica img {
  max-height: 100%;
  width: fit-content;
}

footer {
  background: #753a88;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  padding-left: 25%;
  padding-right: 25%;
}
footer img {
  width: 80px;
}

/*# sourceMappingURL=styles.css.map */
