@import "utilidades/variables";
@import "utilidades/mixin";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {

    background: #cc2b5e;
    background: -webkit-linear-gradient(to right, #753a88, #cc2b5e);
    background: linear-gradient(to right, #753a88, #cc2b5e);

    #logo {
        margin: 20px;
    }

    @include flex;


    nav {
        .menu {
            @include mediaqueries-tablet;
            @include mediaqueries-cel;
            @include flex;
            padding: 20px;
            margin: 20px;


            li {
                justify-content: space-between;

                margin: 20px;

                list-style: none;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

                width: 100%;

                font-size: larger;

                font-weight: bold;

                color: $color-secundario;

                a {
                    color: $color-secundario;
                    text-decoration: none;
                }
            }

        }
    }
}

.main-inicio {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media screen and (max-width: 600px) {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .parrafo-inicio {
        $font-family: $fuente;
        margin: 15px;

        .titulo-inicio {
            @include flex-center;
            text-align: center;
            align-items: center;
            font-family: $fuente;
            color: $color-footer;
            font-size: 2, 5rem;
        }

        .superposicion-main {
            @include flex-center;
            align-items: center;

            .texto-inicio {
                width: 450px;
                position: absolute;
                z-index: 1;
                font-family: $fuente;
                color: $color-footer;
                font-size: larger;
                line-height: 3rem;

                @media screen and (max-width:1024px) {
                    width: 50%;
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    padding: 30px;
                }
            }

            .imagen-publicidad {
                position: relative;
                z-index: 0;
                width: 100%;
                height: 100%;

            }

        }

    }

    .imagen-inicio {
        display: flex;
        overflow: hidden;
        flex: 1;
        width: 100%;
        height: 100%;
        padding: 5px;
        ;

    }
}

.titulo-equipos {
    @include flex-center;
    font-family: $fuente;
    background: $color-secundario;
    color: $color-letras;

}

.titulo-elegirnos {
    @include flex-center;
    font-family: $fuente;

    background: $color-secundario;
    color: $color-letras;

}

.titulo-tecontamos {
    font-family: $fuente;

    @include flex-center;

    background: $color-secundario;
    color: $color-letras;
}

.titulo-contacto {
    font-family: $fuente;
    @include flex-center;

    background: $color-secundario;
    color: $color-letras;

}

.equipos {
    @include mediaqueries-cel;
    @include mediaqueries-tablet;
    @include flex;
      
    margin: 10px;
    padding: 10px;

    .card {
        @media screen and (max-width: 600px) {
            margin: 20px;
        }
         
        @media screen and (max-width:1024px) {
                margin:15px;
        }
        width: 20rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
       
        .imagenes {
            height: 250px;
            display: flex;
            justify-content: center;
            align-items: center;

            .card-img-top {
                max-height: 100%;
                width: fit-content;
            }

        }
        .card-body {
        
            height: 200px;
            h5 {
                text-align: center;
                font-family: $fuente;
                color: $color-principal;
                font-size: larger;
            }
            p {
                font-family: $fuente;
                color:$color-principal;
                font-size:medium;
               
                
            }
            .btn-primary {
               @include botones;
            }
        }
    }


}


.main-contacto {
    .input-contacto {
        @include flex;
        flex-direction: column;
        margin-top: 100px;
        margin-bottom: 100px;   
       input {
        
        height: 40px;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        padding: 5px;
       }
       textarea {
        height: 100px;
        width: 200px;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
        padding: 15px;
        font-family: $fuente;

    }
        button {
        @include botones;
        width: 150px;
        height: 30px;
        border-radius: 3px;
        cursor: pointer;
        
        transition: background-color 0.3s ease;
        
    }
    button:hover {
        border: 2px solid $color-secundario; 
        
        
    }
    button:active {
        
        background-color: $color-footer; 
    }
   
    }   
}

.main-porque {
    display: grid;
  
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
    @include mediaqueries-cel-grid;
    @include mediaqueries-tablet-grid;
   

        .ventajas{
            justify-self: center;
           align-self: center;
            width: 15rem;
            height: 300px;
            p {
                font-family: $fuente;
                color: $color-principal;
                font-size: large;
                text-align: center;
            }
            
        }
        .imagenes-ventajas{
            height: 150px;
            text-align: center;
           
            img {
                justify-self: center;
                align-self: center;
                max-height:100% ;
                width: fit-content;
              // width: 300px;
              // height: 300px;
              // object-fit: cover;

            }
        }
        
}

.main-quienes {
    background: #cc2b5e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #753a88, #cc2b5e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #753a88, #cc2b5e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    justify-content: center;
    align-items: center;
    p { 
        color: $color-letras;
        font-size: larger;
       font-family: $fuente;
        text-align: center;
        justify-self: center;
        align-self: center;
        white-space: break-word;
    }
    section {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        @include mediaqueries-cel-grid;
        @include mediaqueries-tablet-grid;
            .imagen-clinica {
                height: 350px;
               img {
                max-height:100% ;
                width: fit-content;
               }
                
            }
    }
     
}




footer {
    img {
        width: 80px;
    }

    background: $color-footer;
    @include flex;
    padding: 30px;
    padding-left: 25%;
    padding-right: 25%;
}
