@mixin flex {
    display: flex;
    justify-content:space-between;
    align-items: center;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
}

@mixin mediaqueries-cel {   
    @media screen and (max-width: 600px) {
            flex-direction: column;
    }
}

@mixin mediaqueries-tablet {
    @media screen and (max-width:1024px) {
        flex-direction: column;
    }
}


@mixin mediaqueries-cel-grid {   
    @media screen and (max-width: 600px) {
            display: grid;
             grid-template-columns: 1fr ;
           // grid-template-rows: 1fr 1fr 1fr ;
    }
}

@mixin mediaqueries-tablet-grid {
    @media screen and (max-width:1024px) {
        display: grid;
        grid-template-columns: 1fr;
    }
}
