

$color-principal: #cc2b5e;//rgb(184, 91, 122);
$color-secundario:rgb(243, 151, 166);
$color-footer: #753a88;// rgb(126, 48, 126);
$color-letras: beige;
$fuente: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

